<h1><%- title %></h1>
<%- messages() %>

    <div id="form-container">
        <p>ALL FIELDS ARE REQUIRED</p>
        <br>
        <form action="/account/register" method="post">
            <label for="account_firstname">First name</label>
            <input type="text" name="account_firstname" id="account_firstname" required>
            <label for="account_lastname">Last name</label>
            <input type="text" name="account_lastname" id="account_lastname" required>
            <label for="account_email">Email address</label>
            <input type="email" name="account_email" id="account_email" required>
            <label for="account_password">Password</label>
            <input type="password" name="account_password" id="account_password" required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <div><i>Make sure the password is at least 12 characters, has at least 1 uppercase character, 1 number and 1
                    special character.</i></div>
            <input type="submit" value="Register">
        </form><br>
    </div>